body {
    font-family: 'Helvetica Neue Thin', Verdana;
    margin: 1vw 1vh 0 1vw;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15vmin;
    text-align: center;
    margin: 1vmin 0;
}

.lobby {
    font-family: 'Times New Roman', Times, serif;
    font-size: 5vmin;
    margin: 0 0 4vh 0;
    border-width: 0 0 1vh 0;
    border-style: solid;
    border-color: red;
}

div.content {
    margin-bottom: 6vh;
}

div.input {
    position: fixed;
    bottom: 0;
    background-color: white;
    border-top: whitesmoke;
    border-width: 0.5vh 0 0;
    border-style: solid;
    margin-bottom: 0;
    width: 100%;
}

.lobby .person,
.message .sender {
    font-size: 2vmin;
    display: inline;
    margin: 0.5vmin;
}

.message .sender {
    font-weight: bold;
}

p.message {
    margin-bottom: 2vh;
    font-size: 3vmin;
}

.message .text {
    font-family: Courier New, Courier, monospace;
}

input {
    border-style: dotted;
    margin: 1vw 2.5vw;
}

input.new_message {
    width: 63%;
}

inpurt.user_name {
    width: 40%;
}


/** Mobile mode */

@media (max-aspect-ratio:1/1) {
    h1 {
        font-size: 10vh;
    }
    .lobby {
        font-size: 5vh;
    }

    input.new_message {
        font-size: 4vh;
        width: 95%;
    }
    input.user_name {
        font-size: 3vh;
        width: 95%;
    }
}
