
body {
	font-family: 'Helvetica Neue Thin', Verdana;
    margin: 8px 8px 0 8px;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 128px;
    text-align: center;
    margin: 8px 0;
}

.lobby {
    font-family: 'Times New Roman', Times, serif;
    font-size: 64px;
 	margin: 0 0 32px 0;
	border-width: 0px 0 8px 0;
	border-style: solid;
	border-color: red;
}

div.content {
    margin-bottom: 48px;
}

div.input {
    position: fixed;
    bottom: 0px;
    padding-bottom: 8px;
	background-color: white;
	border-top: whitesmoke;
	border-width: 4px 0 0;
	border-style: solid;
	margin-bottom: 0px;
    width: 100%;
}

.lobby .person, .message .sender {
    font-size: 9pt;
    display: inline;
    margin: 5px;
}

.message .sender {
    font-weight: bold;
}

p.message {
    margin-bottom: 16px;
}

.message .text {
    font-family: Courier New, Courier, monospace;
}

input {
    border-style: dotted;
    margin: 8px;
}
input.new_message {
    width: 63%;
}

inpurt.user_name {
    width: 110px;
}